<html>
  <head>
    <title>Sinatra ERB Chartkick Test</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>
  <body>
    <center>
      <h1>STOCKS</h1>
      <p>
        <%= line_chart(@stock_prices) %>
      </p>
    </center>
  </body>
</html>
